# CODEOWNERS
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything
* @TurboCoder13

# CI/CD workflows
.github/ @TurboCoder13

# Documentation
**/*.md @TurboCoder13
docs/ @TurboCoder13
src/content/ @TurboCoder13
